{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}

<div style="margin-left: 20%; overflow: hidden;">


<div class=" my-3">
    <h2 class="py-2" style="color: white; justify-content: center; font-size: 19px; padding-left: 2%;"><b>Focus</b></h2>
    <div class=" mx-3" style="display: flex; justify-content: space-evenly;">
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
    </div>
</div>
<div class=" my-3">
    <h2 class="py-2" style="color: white; justify-content: center; font-size: 19px; padding-left: 2%;"><b>Spotify Playlist</b></h2>
    <div class=" mx-3" style="display: flex; justify-content: space-evenly;">
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
        <div class="card mx-2 my-3" style="width: 12rem; border:2px solid black; height: 17rem; font-size: smaller;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ItzbDI0AhbD0tWSJ36z3Ih1Eg4sH_p9YAw&usqp=CAU"
                class="card-img-top py-1 px-2" alt="Tree">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="font-size:medium;">Little Kitty</h5>
                <p class="card-text" style="font-size:small;">Good Morning from little kitty.</p>
            </div>
        </div>
    </div>
</div>
<div class="card" style="display:flexbox;">
    <div class="card-body bg-dark">
        <div class="card-header" style="color: white;">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <li style="color: white; ">An item</li>
            <li style="color: white;">A second item</li>
            <li style="color: white;">A third item</li>
        </ul>
    </div>


</div>
</div>
{% endblock body %}